{% extends 'hotel_base/base1.html' %}
{% load crispy_forms_tags %}
{% block content %}
  <style>
    @media screen and (max-width: 1000px)  {
      .punit {
        margin-top:160px;
        height:auto;
      }
    }
    @media screen and (min-width: 1000px)  {
      .page-container {
        height:auto;
      }
    }
    @media screen and (max-width: 1000px)  {
      .page-container {
        height:auto;
      }
    }
  </style>
  <div class="punit" >
    <div class="page-container" ">
      <div class='main-content'>
        <div class="section__content section__content--p30">
          <div class="col-lg-6 offset-lg-3 ">
            <div class="card">
              <div class="card-header">
                <div class="card-title">
                  <h3 class="text-center title-2">Customer Check Out</h3>
                </div>
                <div style="border:1px solid orange; background-color: orange; margin-top:7px; margin-bottom:10px;"></div>
                <form action='.' method='POST'>{% csrf_token %}
                  <label>Extra Amount</label><input id="extra" onchange="cost_multiply();" class="au-input au-input--full" type="text" name="extra" value="0" placeholder="Extra Cost"><br>
                  <label>Extra Services Given</label><input class="au-input au-input--full" type="text" name="work_type" placeholder="Extra Services Given"><br>
                  <label>Cost</label><input id="cost" class="au-input au-input--full" readonly type="text" name="cost" value="{{ customer.cost }}" placeholder="Cost"><br>
                  <label>Total Cost</label><input id="total_cost" class="au-input au-input--full" readonly type="text" name="total_cost" value="{{ customer.cost }}" placeholder="Total Cost">
                  {{ form | crispy }}
                  <button type="submit" class="btn btn-success btn-sm">
                    <i class="fa fa-dot-circle-o"></i> Check Out
                  </button>
                  <button type="reset" class="btn btn-danger btn-sm">
                    <i class="fa fa-ban"></i> Reset
                  </button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script>
    function cost_multiply(){
      var extra = document.getElementById("extra").value;
      var cost = document.getElementById('cost').value;
      var total_cost = Number(extra) + Number(cost);
      document.getElementById('total_cost').value = total_cost;
    }
  </script>
{% endblock %}