{% extends 'hotel_base/base1.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <style>
        @media screen and (max-width: 1000px)  {
          .punit {
            margin-top:160px;
            height:auto;
          }
        }
        @media screen and (min-width: 1000px)  {
          .page-container {
            height:auto;
          }
        }
        @media screen and (max-width: 1000px)  {
          .page-container {
            height:auto;
          }
        }
    </style>
    <div class="punit">
        <div class="page-container">
            <div class='main-content'>
                <div class="col-lg-6 offset-lg-3">
                    <div class="card">
                        <div class="card-header">
                            <div class="card-title">
                                <h3 class="text-center title-2">Room Detail</h3>
                            </div>
                            <div style="border:1px solid orange; background-color: orange; margin-top:7px;"></div>
                            <form action='.' method='POST'>{% csrf_token %}
                                <label>Room ID</label><input class="form-control" type="text" name="room_id"><br> or<br>
                                <label>Room Type</label><input class="form-control" type="text" name="room_type"><br> 
                                <button type="submit" class="btn btn-success btn-sm">
                                    <i class="fa fa-dot-circle-o"></i> Search
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
                {% if confirm %}
                    {% if room %}
                        <div class="row m-t-30">
                            <div class="col-md-10 offset-md-1">
                                <h3>Availble Room</h3>
                                <div class="table-responsive m-b-40">
                                    <table class="table table-borderless table-data3">
                                        <thead>
                                            <tr>
                                                <th>Room ID</th>
                                                <th>Room No.</th>
                                                <th>Room Type</th>
                                                <th>Room Cost</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for i in room %}
                                                {% if i.available == True %}
                                                    <tr class="btn-link" style="cursor:pointer; " onclick="location.href = this.getElementsByTagName('a').item(0).getAttribute('href');">
                                                        <td><a href="{% url 'hotel:hotel-room-detail' pk=i.pk %}">{{ i.room_id }}</td>
                                                        <td>{{ i.room_no }}</td>
                                                        <td>{{ i.room_type }}</td>
                                                        <td>{{ i.room_cost }}</td>
                                                    </tr>
                                                {% endif %}
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="row m-t-30">
                            <div class="col-md-10 offset-md-1">
                                <h3>Non Availble Room</h3>
                                <div class="table-responsive m-b-40">
                                    <table class="table table-borderless table-data3">
                                        <thead>
                                            <tr>
                                                <th>Room ID</th>
                                                <th>Room No.</th>
                                                <th>Room Type</th>
                                                <th>Room Cost</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for i in room %}
                                                {% if i.available != True %}
                                                    <tr class="btn-link" style="cursor:pointer; " onclick="location.href = this.getElementsByTagName('a').item(0).getAttribute('href');">
                                                        <td><a href="{% url 'hotel:hotel-room-detail' pk=i.pk %}">{{ i.room_id }}</td>
                                                        <td>{{ i.room_no }}</td>
                                                        <td>{{ i.room_type }}</td>
                                                        <td>{{ i.room_cost }}</td>
                                                    </tr>
                                                {% endif %}
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div> 
                    {% else %}
                        <div class="offset-md-3 col-md-4 alert alert-danger" role="alert">
                            <h4>Hotel has no room</h4>
                        </div>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}